<!DOCTYPE html>
<!--{% load static %}-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Registration Page</title>
<!--    <link rel="stylesheet" href="{%static 'css/my_style.css'%}">-->
  </head>
  <body>
<!--  <body id="bg" style="background-image: url('{% static "image/P_I.jpg"%}')">-->
    <h1 align=center>Registration Page</h1>
    <form id="text" action="index.html" method="post">
<!--        <img id="myImage" src='{% static "image/registration.jpg"%}' style="width:200px">-->
<!--      <br>-->
      Name  : <input type="text" name="" value="">
      <br>
      <br>
      Age : <input type="text" name="" value="">
      <br>
      <br>
        Gender: <input type="text" name="" value="">
      <br>
      <br>
      Email : <input type="text" name="" value="">
      <br>
      <br>
      Ph number : <input type="text" name="" value="">
      <br>
      <button type="button" name="button">Submit</button>
    </form>
  <br>
  <br>
<!--  <h1><a href="http://127.0.0.1:8000/home" target="_blank">Click here to enter student_details</a></h1>-->
  <br>
  <hr>
<!--  <form class="" action="index.html" method="post">-->
<!--      <h2>The below form is from Django Forms</h2>-->
<!--      {{form_d.as_p}}-->
<!--      {%csrf_token%}-->
<!-- <button type="button" name="button">Submit</button>-->
<!--    </form>-->
  </body>
</html>